html {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.first-line {
  font-style: normal;
}

.display-font {
  font-family: "Freckle Face", cursive;
}

.unit {
  display: block;
}

.lower-text {
  background-color: #000;
  color: #fffe;
}
