html {
  text-align: center;
  font-family: "Amatic SC", cursive;
}

.display-font {
  font-family: Frijole, cursive;
}

.lower-text {
  background-color: #000;
  color: lightgrey;
}

.second-line {
  color: #000;
}

.circle {
  background-color: #fff;
  border-style: none;
  border-width: thin;
  border-radius: 100px;
  width: 10em;
  height: 10em;
  margin: auto;
}

.red-text {
  color: red;
}
